[profile {{ (bitwardenFields "item" "89e0c135-46ed-417c-8230-aee2010bb5ee").Profile.value }}]
region = {{ (bitwardenFields "item" "89e0c135-46ed-417c-8230-aee2010bb5ee").Region.value }}
[profile {{ (bitwardenFields "item" "7d9b6410-cf38-4033-96fd-aee201073a2f").Profile.value }}]
region = {{ (bitwardenFields "item" "7d9b6410-cf38-4033-96fd-aee201073a2f").Region.value }}
[profile {{ (bitwardenFields "item" "2d3156a5-2279-4068-badc-aee20108aeeb").Profile.value }}]
region = {{ (bitwardenFields "item" "2d3156a5-2279-4068-badc-aee20108aeeb").Region.value }}
[profile {{ (bitwardenFields "item" "e18361d4-c284-48bd-86bc-aee2010670e6").Profile.value }}]
region = {{ (bitwardenFields "item" "e18361d4-c284-48bd-86bc-aee2010670e6").Region.value }}
[profile {{ (bitwardenFields "item" "71a8d73a-fc43-4e54-aa66-afa10123a049").Profile.value }}]
region = {{ (bitwardenFields "item" "71a8d73a-fc43-4e54-aa66-afa10123a049").Region.value }}
[profile {{ (bitwardenFields "item" "e8214cdd-fc6a-48c5-b7cc-b03b0062f8c1").Profile.value }}]
region = {{ (bitwardenFields "item" "e8214cdd-fc6a-48c5-b7cc-b03b0062f8c1").Region.value }}
