[{{ (bitwardenFields "item" "89e0c135-46ed-417c-8230-aee2010bb5ee").Profile.value }}]
aws_access_key_id = {{ (bitwardenFields "item" "89e0c135-46ed-417c-8230-aee2010bb5ee").ACCESS_KEY_ID.value }}
aws_secret_access_key = {{ (bitwardenFields "item" "89e0c135-46ed-417c-8230-aee2010bb5ee").SECRET_ACCESS_KEY.value }}
[{{ (bitwardenFields "item" "7d9b6410-cf38-4033-96fd-aee201073a2f").Profile.value }}]
aws_access_key_id = {{ (bitwardenFields "item" "7d9b6410-cf38-4033-96fd-aee201073a2f").ACCESS_KEY_ID.value }}
aws_secret_access_key = {{ (bitwardenFields "item" "7d9b6410-cf38-4033-96fd-aee201073a2f").SECRET_ACCESS_KEY.value }}
[{{ (bitwardenFields "item" "2d3156a5-2279-4068-badc-aee20108aeeb").Profile.value }}]
aws_access_key_id = {{ (bitwardenFields "item" "2d3156a5-2279-4068-badc-aee20108aeeb").ACCESS_KEY_ID.value }}
aws_secret_access_key = {{ (bitwardenFields "item" "2d3156a5-2279-4068-badc-aee20108aeeb").SECRET_ACCESS_KEY.value }}
[{{ (bitwardenFields "item" "e18361d4-c284-48bd-86bc-aee2010670e6").Profile.value }}]
aws_access_key_id = {{ (bitwardenFields "item" "e18361d4-c284-48bd-86bc-aee2010670e6").ACCESS_KEY_ID.value }}
aws_secret_access_key = {{ (bitwardenFields "item" "e18361d4-c284-48bd-86bc-aee2010670e6").SECRET_ACCESS_KEY.value }}
[{{ (bitwardenFields "item" "71a8d73a-fc43-4e54-aa66-afa10123a049").Profile.value }}]
aws_access_key_id = {{ (bitwardenFields "item" "71a8d73a-fc43-4e54-aa66-afa10123a049").ACCESS_KEY_ID.value }}
aws_secret_access_key = {{ (bitwardenFields "item" "71a8d73a-fc43-4e54-aa66-afa10123a049").SECRET_ACCESS_KEY.value }}
[{{ (bitwardenFields "item" "e8214cdd-fc6a-48c5-b7cc-b03b0062f8c1").Profile.value }}]
aws_access_key_id = {{ (bitwardenFields "item" "e8214cdd-fc6a-48c5-b7cc-b03b0062f8c1").ACCESS_KEY_ID.value }}
aws_secret_access_key = {{ (bitwardenFields "item" "e8214cdd-fc6a-48c5-b7cc-b03b0062f8c1").SECRET_ACCESS_KEY.value }}
