[user]
	name = Ethan Yeh
	email = ethan.yeh@tokenbricks.com
	{{ if eq .chezmoi.username "ethanyeh" }}
	signingkey = E559D80D446C04BF2702D6145DC92E888879168D
	{{ else if eq .chezmoi.username "0xethan" }}
	signingkey = 2FBDBF49FDF1C759F29E79CC5270F1D51F9E94FF
	{{ end }}

