# Fig pre block. Keep at the top of this file.
[[ -f "$HOME/.fig/shell/zprofile.pre.zsh" ]] && builtin source "$HOME/.fig/shell/zprofile.pre.zsh"

{{ if and (eq .chezmoi.os "darwin") (eq .chezmoi.arch "arm64") }}
# Homebrew for Mac(M1)
eval $(/opt/homebrew/bin/brew shellenv)

# Added by Toolbox App
export PATH="$PATH:/Users/{{ .chezmoi.username }}/Library/Application Support/JetBrains/Toolbox/scripts"
{{ end }}

# Fig post block. Keep at the bottom of this file.
[[ -f "$HOME/.fig/shell/zprofile.post.zsh" ]] && builtin source "$HOME/.fig/shell/zprofile.post.zsh"

