{{ if (eq .chezmoi.os "darwin") -}}
#!/bin/bash

set -eufo pipefail

osascript -e 'tell application "System Preferences" to quit'

# Finder > View > Show Path Bar
defaults write com.apple.finder ShowPathbar -bool true

# System Preferences > Accessibility > Pointer Control > Mouse & Trackpad > Trackpad Options > Enable Dragging > Three Finger Drag (NOTE: The GUI doesn't update)
defaults write com.apple.driver.AppleBluetoothMultitouch.trackpad TrackpadThreeFingerDrag -bool true
defaults write com.apple.AppleMultitouchTrackpad TrackpadThreeFingerDrag -bool true

# System Preferences > Keyboard > Key Repeat > Fast
defaults write -g KeyRepeat -int 1 # normal minimum is 2

# System Preferences > Keyboard > Delay Until Repeat > Fast
defaults write -g InitialKeyRepeat -int 10 # normal minimum is 15

# turn off press and hold
defaults write -g ApplePressAndHoldEnabled -bool false

# System Preferences > Keyboard > Input Sources > Use the Caps Lock key to switch to and from ABC > Enable

# System Preferences > Trackpad > Point & Click > Tracking Speed > Fast
defaults write -g com.apple.trackpad.scaling 3

# System Preferences > Trackpad > Tap to Click > Enabled
defaults write com.apple.AppleMultitouchTrackpad Clicking -bool true
defaults write com.apple.driver.AppleBluetoothMultitouch.trackpad Clicking -bool true

# enable 24-Hour time
defaults write com.apple.menuextra.clock DateFormat -string "EEE d MMM HH:mm"

# Third-Party Software

# iTerm2 Settings
# Specify the preferences directory
defaults write com.googlecode.iterm2 LoadPrefsFromCustomFolder -bool true
# Tell iTerm2 to use the custom preferences in the directory
defaults write com.googlecode.iterm2 PrefsCustomFolder -string "{{ .chezmoi.sourceDir }}/private_dot_config/iterm2"

# Install Fonts
curl -sL https://github.com/romkatv/powerlevel10k-media/raw/master/MesloLGS%20NF%20Regular.ttf > "$HOME/Library/Fonts/MesloLGS NF Regular.ttf" &
curl -sL https://github.com/romkatv/powerlevel10k-media/raw/master/MesloLGS%20NF%20Bold.ttf > "$HOME/Library/Fonts/MesloLGS NF Bold.ttf" &&
curl -sL https://github.com/romkatv/powerlevel10k-media/raw/master/MesloLGS%20NF%20Italic.ttf > "$HOME/Library/Fonts/MesloLGS NF Italic.ttf" &&
curl -sL https://github.com/romkatv/powerlevel10k-media/raw/master/MesloLGS%20NF%20Bold%20Italic.ttf > "$HOME/Library/Fonts/MesloLGS NF Bold Italic.ttf"
{{ end -}}