{{- if eq .chezmoi.os "darwin" -}}
#!/bin/sh

# disable macOS Gatekeeper
export HOMEBREW_CASK_OPTS="--no-quarantine"

brew bundle --no-lock --file=/dev/stdin <<EOF

tap "homebrew/bundle"
tap "homebrew/cask"
tap "homebrew/core"
tap "ngrok/ngrok"
tap "stripe/stripe-cli"
brew "age"
brew "asdf"
brew "awscli"
brew "bitwarden-cli"
brew "gnupg"
brew "chezmoi"
brew "commitizen"
brew "dive"
brew "gh"
brew "helm"
brew "helmfile"
brew "k6"
brew "k9s"
brew "kubectl"
brew "linode-cli"
brew "mas"
brew "pinentry-mac"
brew "pulumi"
brew "sheldon"
brew "slack"
brew "tree"
brew "watch"
brew "stripe/stripe-cli/stripe"
cask "authy"
cask "brave-browser"
cask "charles"
cask "cyberduck"
cask "discord"
cask "docker"
cask "fig"
cask "google-chrome"
cask "iterm2"
cask "jetbrains-toolbox"
cask "ngrok"
cask "notion"
cask "obsidian"
cask "postman"
cask "raycast"
cask "redisinsight"
cask "spotify"
cask "visual-studio-code"
cask "zoom"
cask "the-unarchiver"
cask "telegram"

mas "LINE", id: 539883307
mas "Magnet", id: 441258766
mas "Xcode", id: 497799835
# mas "Session", id: 1521432881
mas "Flow Focus Timer", id: 1423210932


EOF
{{ end -}}